:root {
    --c1: #DCD7C9;
    --c2: #A27B5C;
    --c3: #3F4E4F;
    --c4: #2C3639;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.landing {
    height: 100vh;
    width: 100vw;
    font-size: 20px;
    padding-top: 250px;
    margin: 0px;
    text-align: center;
    display: table;
    color: var(--c1);
    background-image: url(images/trees.jpg);
}

.back {
    font-size: 5rem;
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    margin-top: 6.5%;
}

.landing a {
    text-decoration: none;
    color: var(--c1);
    margin: 16px 24px;
    padding: 16px 24px;
    border: none;
    background-color: var(--c3);
}

.landing .nav {
    margin-top: 30px;
    /*font-family: 'Bebas Neue', sans-serif;*/
    font-family: 'Cabin Sketch', cursive;
}

.head {
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--c1);
    text-align: center;
    padding: 36px 36px;
}

.head h1 {
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h2{
  font-size: 40px;
  font-family: 'Bebas Neue', sans-serif;
  color: var(--c1);
  text-align: center;
  padding: 36px 36px;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
}

.sub {
    display: flex;
    align-items: center;
}

.cards {
    padding: 50px;
    width: 100%;
    display: flex;
    background-color: var(--c1);
}

.card {
    position: relative;
    margin: 50px;
    width: 400px;
    height: 250px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card_content {
    transform: rotateX(0deg);
  }
  
  .card_title {
    margin: 0;
    font-size: 24px;
    color: var(--c4);
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card_description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }

  .card a{
    text-decoration: none;
    color: var(--c4);
  }

  .content {
    width: 100%;
    padding: 50px;
  }

  .search-bar {
    text-align: center;
    width: 100%;
  }

  .search-bar input {
    width: 30%;
    height: 30px;
    padding: 12px 24px;
    border-radius: 10px;
  }

  .search-bar button {
    height: 30px;
    padding: 0 12px;
    border-radius: 10px;
  }